@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #020617; /* slate-950 */
  color: white;
}

* {
  box-sizing: border-box;
}